html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
}

/* @font-face {
  font-family: 'Rozetka Web-Regular';
  src: url("./RozetkaWeb-Regular.woff2") format('woff2');
} */

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
  font-weight: 600;
}

.header {
  background-color: #221f1f;
}

.header-layout {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
}

.header-layout a {
  color: #fff;
  text-decoration: none;
}

.header-layout>* {
  margin-right: 20px;
}

.header-layout button {
  display: flex;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
  height: 40px;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.header-layout button.gray-btn {
  padding-left: 16px;
  padding-right: 16px;
  background-color: hsla(0, 0%, 100%, .2);
}

.header-layout button.green-btn {
  background-color: #00a046;
  border-radius: 0 3px 3px 0;
  padding: 0px 15px;
}

.header-layout button> :nth-child(2) {
  margin-left: 12px;
}

.header-layout svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.logo img {
  width: 40px;
}

.search-form__input-wrapper {
  height: 100%;
}

.search-form__inner input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  border-radius: 0;
  text-decoration: none;
  outline: none;
}

.search-form__inner {
  width: 100%;
}

.search-form {
  width: 100%;
  display: flex;
}

.lang {
  display: flex;
}

.lang div {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lang div:nth-child(2) {
  border-left: 1px solid #797878;
}

.lang div.acative a {
  color: #797878;
}

.container.with_sidebar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #FFFFFF;
}

aside.sidebar {
  padding-top: 40px;
  width: 300px;
}

aside.sidebar a {
  text-decoration: none;
  color: rgb(62, 119, 170);
  font-size: 14px;
  line-height: 31px;
}

aside.sidebar li {
  list-style: none;
}

main.main-content {
  /* border-left: 1px solid #e9e9e9; */
  border-left: 1px solid #c2c2d9;
  ;
  padding-left: 40px;
  padding-top: 40px;
  width: calc(100% - 300px);
}

main.main-content .splide li {
  height: 400px;
}

main.main-content .splide img {
  width: 100%
}

main.main-content .products h2 {
  margin-bottom: 16px;
  font-size: 20px;
  color: #221f1f;
}

.products-loop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.product-card {
  width: 16.66%;
  border-right: 1px solid #d4cdcd;
  border-bottom: 1px solid #d4cdcd;
}

.product-card .title {
  display: block;
  height: 40px;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  line-height: 19.6px
}

.product-card .title:hover {
  text-decoration: underline;
}