//? set your brand colors

$white: #fff;

$light-grey: #d4cdcd;
$grey: #d7d7d7;
$dark-grey: hsla(0, 0%, 100%, .2);



$black-soft: #333;
$black: #221f1f;

$blue: rgb(62, 119, 170);
$pink: #fff0f5;
$yellow: #fffacd;


$green:#00a046;